.list-item {
  color: #BABABA;
  list-style-type: none;

  &.collapsed {
    img {
      transform: rotate(90deg);
    }
  }

  &.selected {
    img {
      color: #E1E1E1;
      font-weight: 300;
    }
  }

  &:focus {
    outline: none;

    > span {
      border: 1px solid gray;
    }
  }
}