.list-item {
  color: #BABABA;
  list-style-type: none;
  max-width: 12em;
  cursor: pointer;

  &.selected {
    color: #E1E1E1;
    font-weight: 400;
  }

  &:focus {
    outline: none;

    > div > div {
      border: 1px solid gray;
    }
  }
}