.code-snippet {
  font-family: 'Consolas', 'Courier New', 'monospace';
  font-weight: 300;
  background: rgb(29, 29, 29);
  color: #9CDCF0;

  &.tsx {
    .is-number {
      color: #b6d8a1;
    }

    .is-char {
      color: #E1E1E1;
    }

    .is-word {
      color: #9CDCF0;
    }

    .is-string {
      color: #de8470;
    }

    .is-type {
      color: #2bca9e;
    }

    .is-declaration {
      color: #298fe2;
    }

    .is-method {
      color: #fff8a0;
    }

    .is-conditional {
      color: #d276cb;
    }
  }

  &.scss {
    color: #de8470;

    .is-char {
      color: #E1E1E1;
    }

    .hyphen, .before-colon {
      color: #9CDCF0;
    }

    .is-class {
      color: #efb46c;
    }

    .is-method {
      color: #fff8a0;
    }

    .is-number {
      color: #b6d8a1;
    }

    .is-ampersand {
      color: #549be4;
    }
  }
}
