@import '../../colors.scss';

.header {
  position: fixed;
  width: 100%;
  font-family: 'Vollkorn', serif;
  background: $background-color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color-primary;
  border-bottom: 1px solid $border-color-secondary;

  h1 {
    font-size: 1.286em;
    margin: 0;
  }

  .spacing-div, .header-nav {
    width: 25em;
  }

  .header-nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 3.5em;
  }

  .list-item {
    color: $text-color-primary;
    height: 100%;
    display: flex;
    align-items: center;
    place-content: center;
    flex-grow: 1;

    &.selected {
      border-bottom: 0.2em solid $highlight-color-primary;
    }

    &:hover {
      background: $hover-color-primary;
      color: $text-color-highlight;
      border-bottom: 1px solid $hover-color-primary;

      &.selected {
        border-bottom: 0.2em solid $highlight-color-secondary;
      }
    }
  }
}