.modal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;

  .modal-background {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
  }

  .modal-children {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .close-button {
    top: 0;
    right: 0;
    position: fixed;
    background: none;
    padding: 1em;

    svg {
      max-width: 1.8em;
    }
  }
}