@import '../../colors.scss';

.main-menu {
  .landing-screen {
    height: 92vh;
    width: 100%;
    display: flex;
    margin-left: 5em;
    align-items: flex-end;

    .title {
      border-left: 0.4em solid $highlight-color-primary;
      padding: 0.5em 2.6em;
      margin-bottom: 6em;
    }

    h1 {
      font-family: 'Vollkorn', serif;
      font-size: 72px;
      margin: 0;
      line-height: 1em;
      font-weight: 300;
    }

    h2 {
      color: $text-color-secondary;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      margin: 0;
      letter-spacing: 0.12em;
      line-height: 1em;
      margin-top: 0.4em;
    }
  }

  .project-item {
    padding: 10em 5em;
  }

  @media only screen and (max-width: 500px) {
    .landing-screen {
      margin-left: 1.3em;
      width: inherit;

      .title {
        padding: 0.5em 1em;
        margin-bottom: 4em;
      }

      h1 {
        font-size: 36px;
      }

      h2 {
        font-size: 13px;
      }
    }

    .project-item {
      padding: 2em 1.3em;
    }
  }
}