@import '../../colors.scss';

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 5em;
  border-top: 1px solid $border-color-primary;

  &, a, .list-item {
    color: $text-color-secondary;
  }

  .contact-links {
    margin: 0;
    padding: 0;
  }

  .list-item {
    display: inline;
    color: $text-color-secondary;

    p {
      font-size: 13px;
    }

    &:last-child {
      a {
        padding-bottom: 0;
      }
    }

    svg {
      transition: fill 0.5s;
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      padding: 0 0 1em 1.5em;
      border-left: 0.1em solid $highlight-color-primary;
      transition: color 0.5s;

      &:hover {
        color: $text-color-highlight;

        svg {
          fill: $text-color-highlight;
        }
      }

      .icon {
        margin-right: 0.5em;
        width: 2em;
        display: flex;

        img {
          margin: 0 auto;
          display: block;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    padding: 2em 0 0 1.5em;
    flex-wrap: wrap;

    p {
      order: 1;
      padding-top: 1em;
    }

    .list-item a {
      border-left: 0.4em solid $highlight-color-primary;
    }
  }
}