$text-color-highlight: #f5f5f5;
$text-color-primary: #E1E1E1;
$text-color-secondary: #9D9D9D;

$background-color-primary: #101010;
$background-color-secondary: #0B0B0B;
$background-color-third: #545454;

$highlight-color-primary: #BB4FB0;
$highlight-color-secondary: #804379;

$border-color-primary: #494949;
$border-color-secondary: #151515;

$hover-color-primary: #040404;
