@import '../../colors.scss';

.image-slider {
  position: relative;
  display: flex;

  .image-container {
    margin: 0 4em;
    padding: 1em 1em 2em 1em;

    &.is-svg {
      align-self: unset;
    }
  }

  .image-viewer {
    width: 100%;
  }

  svg {
    width: 1em;
    fill: none;
  }

  &:hover {
    // background: rgba(21, 21, 21, 0.9);
  }

  .button {
    position: absolute;
    height: 100%;
    width: 4em;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    // user-select: none;
    // background: none;
    transition: background 0.25s;

    svg path {
      stroke: $text-color-primary;
    }

    &:hover {
      background: rgba(21, 21, 21, 0.9);

      svg path {
        stroke: $text-color-highlight;
      }
    }

    &.prev-image-btn {
      left: 0;
    }

    &.next-image-btn {
      right: 0;
      transform: rotate(180deg);
    }
  }


  .list {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;

    li {
      padding: 0.25em 0.2em;
    }
  }

  @media only screen and (max-width: 800px) {
    .button {
      background: rgba(21, 21, 21, 0.75);
    }
  }
}

.modal {
  .image-slider {
    height: 100%;
    width: 100%;

    .button {
      // height: 5em;
      // width: 5em;
      // border-radius: 5em;
      height: 12em;
      margin: 0.5em;
    }

    .image-container {
      padding: 2em;
    }

    .image-viewer {
      background: none;
      max-height: 100%;
    }

    li {
      padding: 0.25em 0.2em;
    }

    .radio-indicator {
      width: 0.8em;
      height: 0.8em;
      background: #6b6b6b;
    }

    .list-item.selected{
      .radio-indicator {
        background: #fbf9f9;
      }
    }
  }
}
